.button-lib {
  padding: 5px 15px;
  border: 2px solid #1976d2;
  text-decoration: none;
  min-width: 64px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.02857em;
  border-radius: 4px;
  user-select: none;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
}

.button-lib:hover {
  background-color: rgb(171, 235, 190);
  border-color: rgb(171, 235, 190);
}
.button-lib:disabled {
  pointer-events: none;
  cursor: none;
  background-color: rgb(197, 198, 194);
  color: white;
  border-color: rgb(197, 198, 194);
}

.button-lib:active {
  color: red;
  opacity: 70%;
}

.button-lib-outlined {
  color: #1976d2;
  background-color: unset;
}
.button-lib-contained {
  color: white;
  background-color: #1976d2;
}

.button-lib-text {
  color: #1976d2;
  background-color: unset;
  border: none;
}

.button-lib-small {
  padding: 4px 5px;
  font-size: 0.8125rem;
}

.button-lib-medium {
  padding: 6px 8px;
  font-size: 1.2rem;
}

.button-lib-large {
  padding: 8px 11px;
  font-size: 1.5rem;
}
