.overlay {
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
  height: 100vh;
  z-index: 1000;
}

.overlay.hidden {
  display: none;
}

.overlay.visible {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  max-width: 28rem;
  max-height: 90vh;
}

.modal-content.hidden {
  display: none;
}

.modal-content.visible {
  transform: scale(1);
  display: block;
}
